name: Rebase Dependabot pull requests

on:
  push:
    paths:
    - '.github/workflows/rebase-dependabot-pull-requests.yml'
    branches:
    - 'main'
    - 'master'
  schedule:
  - cron: '19 */4 * * *' # sync-with-template: adjust
  workflow_dispatch: { }

permissions:
  id-token: write

concurrency:
  group: rebase-dependabot-pull-requests-${{github.ref}}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  rebase-dependabot-pull-requests:
    name: Rebase Dependabot pull requests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Get GitHub Token
      id: get-token
      uses: remal/github-repository-token-issuer@v1
      with:
        scopes: |
          pull_requests: write
          issues: write
          contents: read

    - name: Rebase Dependabot pull requests
      uses: remal-github-actions/rebase-dependabot-pull-requests@v1
      with:
        githubToken: ${{steps.get-token.outputs.token}}
